<h5 class="card-title mb-2">Importar Doadores</h5>

<div class="alert alert-info">
  Por favor, envie um arquivo <strong>data.json</strong> contendo os dados dos doadores para que eles sejam salvos e os gráficos atualizados.
</div>

<div class="mb-3">
  <label for="jsonFile" class="form-label">Selecione o arquivo JSON:</label>
  <input type="file" class="form-control" id="jsonFile" (change)="onFileChange($event)" accept=".json">
</div>

<div *ngIf="dadosImportados.length > 0">
  <h5 class="mt-4">Pré-visualização dos dados:</h5>
  <pre>{{ dadosImportados | json }}</pre>

  <button class="btn btn-primary mt-3" (click)="importar()">
    Importar Dados
  </button>
</div>

<p *ngIf="status" class="mt-3">{{ status }}</p>

