<h2 class="mb-3">Dashboard</h2>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Candidatos por Estado</h5>

    <apx-chart
      *ngIf="chartOptionsCandidatosPorEstado.series"
      [series]="chartOptionsCandidatosPorEstado.series!"
      [chart]="chartOptionsCandidatosPorEstado.chart!"
      [title]="chartOptionsCandidatosPorEstado.title!"
      [xaxis]="chartOptionsCandidatosPorEstado.xaxis!"
      [plotOptions]="chartOptionsCandidatosPorEstado.plotOptions!">
    </apx-chart>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">IMC Médio por Faixa Etária dos Candidatos</h5>

    <apx-chart
      *ngIf="chartOptionsImc.series"
      [series]="chartOptionsImc.series!"
      [chart]="chartOptionsImc.chart!"
      [title]="chartOptionsImc.title!"
      [xaxis]="chartOptionsImc.xaxis!"
      [plotOptions]="chartOptionsImc.plotOptions!">
    </apx-chart>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Percentual de Candidatos Obesos por Sexo</h5>

    <apx-chart
      *ngIf="chartOptionsPercentualObesosPorSexo.series"
      [chart]="chartOptionsPercentualObesosPorSexo.chart!"
      [title]="chartOptionsPercentualObesosPorSexo.title!"
      [labels]="chartOptionsPercentualObesosPorSexo.labels!"
      [series]="chartOptionsPercentualObesosPorSexo.series!"
      [dataLabels]="chartOptionsPercentualObesosPorSexo.dataLabels!">
    </apx-chart>
  </div>
</div>

